body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #527d84;
    background-image: url('https://wallpapers.com/images/featured/solid-grey-background-ag4wgs25q8m35u89.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

form {
    background-color: rgb(216, 225, 225);
    padding: 75px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.error {
    color: rgb(236, 18, 18);
    font-size: 12px;
    display: none;
}